$color-sassy: #ffffff;
$police_titre: "Lato";

.btn {
  display: inline-block;
  background-color: #2eb6b6;
  color: white;
  border: outset #2eb6b6 2px;
  padding: 14px 40px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  //box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: inset #2eb6b6 2px;
}

body {
  text-align: center;
  margin: auto;
}
#myheader {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background: #2eb6b6;
  color: white;
  h2 {
    color: $color-sassy;
    font-family: $police_titre, bold;
    font-size: 26px;
  }
  h1 {
    color: $color-sassy;
    font-family: $police_titre, bold;
    font-size: 56px;
  }
}

.logo {
  width: 100px;
}

table,
th,
td {
  border: 1px solid black;
  & .sel {
    border: 5px solid rgb(44, 138, 0);
  }
}

.solutions td {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-collapse: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

img.figure {
  width: 20vw;
  max-width: 180px;
}

.border {
  display: inline-block;
  border: 1px solid black;
}

.interrogation {
  font-size: 3em;
  text-align: center;
  padding-top: 40%;
  width: 100%;
}
